<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-3'>
      <%= render 'info', customer: @customer %>
       <td><%= link_to likes_customers_path, class: 'nav-link text-primary' do %>
       <button type="button" class="btn" style="background-color: #fdeff2;"><%= @customer.user_name %> さんがいいねした記事</td>  
       <% end %>
    </div>
    <div class='col-md-8 offset-md-1'>
      <h2><%= @customer.user_name %>さんの日記</h2>
      <%= render 'public/articles/index', articles: @articles %>
    </div>
  </div>
</div>
