<div class="container">
<h4 style="margin-top:30px;"><%= @customer.user_name %>さんの会員詳細</h4>

<table class="table.table-borderless.table-sm">
  <tr>
    <td>会員ID</td>
    <td class="col-sm-6"><%= @customer.id %></td>
  </tr>
  <tr>
   <td>名前</td>
   <td class="col-sm-6"><%= @customer.user_name %></td>
  </tr>
  <tr>
   <td>メールアドレス</td>
   <td class="col-sm-6"><%= @customer.email %></td>
  </tr>
  <tr>
    <td>会員ステータス</td>
      <% if @customer.is_active == true %>
    <td class="col-sm-6">有効</td>
      <% else %>
    <td class="col-sm-6">退会</td>
      <% end %>
  </tr>
</table>

<%= link_to "編集する", edit_admin_customer_path(@customer.id), class:"btn btn-success btn-sm col-sm-2", style:"margin-top:30px;" %>
</div>