 <div class="card">
   <tbody>
    <% articles.each do |article| %>
     <h4 class="card-header"><%= link_to article.title,article, class: "article_#{article.id}" %></h4>
     <div class="card-body">
     <h6 class="card-subtitle mb-2 text-muted"><%= article.customer.user_name %></h6>
     <h6 class="card-subtitle mb-2 text-muted"><%= article.created_at.strftime('%Y/%m/%d') %></h6>
     <p class="card-text"><%= simple_format(article.body) %></p>
     <td class=<%= "like-" + article.id.to_s %> >
  　   <%= render "public/likes/btn", article: article %></a>
      <%= render "public/comments/counter", article: article %>
     </div>
    <% end %>
   </tbody>
 </div>


