<div class='container'>
  <div class='row'>
    <div class='col-md-3'>
      <h2>ユーザー情報</h2>
      <%= render 'public/customers/info', customer: @article.customer %>
      <h2 class="mt-3">投稿</h2>
      <%= render 'form', article: Article.new %>
    </div>
    <div class='col-md-8 offset-md-1'>
  		<h2>詳細</h2>
  		<table class='table'>
  		  <tr>
          <td><%= link_to(@article.customer) do %>
            <%= image_tag @article.customer.get_profile_image, size:"100x100" %><br>
            <%= @article.customer.user_name %>
            <% end %>
          </td>
          <td><%= link_to @article.title, @article %></td>
          <td><%= @article.body %></td>
          <td class=<%= "like-" + @article.id.to_s %> >
            <%= render "public/likes/btn", article: @article %>
          </td>
          <td class="comments-counter">
            <%= render "public/comments/counter", article: @article %>
          </td>
          <% if @article.customer == current_customer %>
            <td><%= link_to 'Edit', edit_article_path(@article), class: "btn btn-sm btn-success edit_article_#{@article.id}" %></td>
            <td><%= link_to 'Destroy', @article, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger destroy_article_#{@article.id}" %></td>
          <% end %>
        </tr>
      </table>
      
      <div class="comments-index">
        <%= render "public/comments/index", article: @article %>
      </div>
      
      <%= render "public/comments/form", article: @article, comment: @comment %>
      
    </div>
  </div>
</div>